<% layout("layouts/boilerplate.ejs") -%>
<div class="row">
    <div class="col-8 offset-2"><br>
        <h2>Create New Listing</h2><br>
        <form method="post" action="/list">
            <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" placeholder="enter title"> <br>
        </div>
        <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input type="text" class="form-control" name="image" placeholder="enter image URL/LINK"><br>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea type="text" class="form-control" name="description" placeholder="enter description"></textarea><br>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Price</label>
                <input type="text" class="form-control" name="price" placeholder="enter price"><br>
            </div>
            <div class="mb-3 col-md-8">
                <label for="country" class="form-label">Country</label>
                <input type="text" class="form-control" name="country" placeholder="enter country"><br>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" name="location" placeholder="enter location"><br>
        </div>
        <button class="btn btn-dark add-btn" type="submit">Add</button>
    </form> <br>
        </div>
    </div>